{%extends 'base.html'%}
{% block content %}
{{block.super}}


<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-8" style="display: flex; justify-content: center;">
        <div class="row">
        {%for image in images%}
        <div class="card mt-3" style="width: 40rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><img class="card-img-top thumbnail" src="{{ image.user.profile_pic.url}}" alt="Card image cap" style="border-radius: 50%; width: 5%; height: 5vh;">{{image.user.user.username}}</li>
                <li class="list-group-item"></li>
                <li class="list-group-item" ><img src="{{image.image.url}}" alt="" style="width: 100%;"></li>
                <li class="list-group-item" style="display: flex; justify-content: space-between;">
                    <div>
                        <span><img src="https://cdn3.iconfinder.com/data/icons/streamline-icon-set-free-pack/48/Streamline-63-128.png" alt="" style="viewBox="0 0 24 24"; width="30";"></span>
                        <span><img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands-2/459/123_Facebook_Messenger_logo_logos-128.png" alt="" style="viewBox="0 0 24 24"; width="30";"></span>
                        <span><img src="https://cdn1.iconfinder.com/data/icons/social-media-2293/32/telegram-128.png" alt="" style="viewBox="0 0 24 24"; width="30";"></span>
                    </div>
                    <div>
                        <span><img src="https://cdn0.iconfinder.com/data/icons/social-media-logo-4/32/Social_Media_instagram_save_save_instagram-128.png" alt="" style="viewBox="0 0 24 24"; width="30";</span>
                    </div>
                </li>
                <li class="list-group-item">Likes</li>
                <li class="list-group-item">{{image.caption}}</li>
            </ul>
        </div>           
        {%endfor%}
        </div>
    </div>
</div>
{% endblock %}